<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">


    <title>Document</title>
</head>
<body>
    <script>console.log("contenedor.hbs");</script>

    <pre>Respuesta desde el servidorxxx:</pre>
    <p>{{user}}</p>
    <p>{{pass}}</p>
    <p>{{submit}}</p>
    <p>{{url}}</p>


  <div name="pasaje_variables">
    <!-- paso las variables usuario y rol -->
    <label id='user'    value={{user}} >{{user}}  </label>
    <label id='rol'     value={{rol}}  >{{rol}}   </label>
    <label id='f_url'   value={{url}}>{{url}} </label>
    <script>
    var usuariof = {};
    usuariof.user = document.getElementById('user').getAttribute("value");
    usuariof.rol = document.getElementById('rol').getAttribute("value");
    usuariof.f_url = document.getElementById('f_url').getAttribute("value");
    console.table(usuariof);
    </script>
  </div>

    <!--?!=include('js_generador.html') ?-->
<script>
  function dameDia(fecha_in){
    let fecha = new Date(fecha_in);
    const weekday = ["domingo","lunes","martes","miércoles","jueves","viernes","sábado"];
    let day = weekday[fecha.getDay()];
    let meses = ["enero","febrero", "marzo","abril","mayo","junio","julio","agosto","setiembre","octubre","noviembre","diciembre"];
    day = day +" "+fecha.getDate();
    day = day +" "+ meses[fecha.getMonth()];
    return day;
  }

  function desplegar(btn_x){
    var btn_menu = ['control','eliminar','tecnica','intervencion','intervenciones'];
    for(var i=0 ;i<btn_menu.length ; i++){
      if(btn_menu[i] != btn_x){
        console.log("-->"+btn_menu[i]);
        document.getElementById(btn_menu[i]).classList.remove('show');        
      }
    }
  }


  function mismoDia(fecha1, fecha2){
    if(fecha1.getFullYear() == fecha2.getFullYear() && fecha1.getMonth()    == fecha2.getMonth() && fecha1.getUTCDate()  == fecha2.getUTCDate()){
        return true;
      }else{
        return false;
      }
  }

  function onSuccess(){
    console.log("--onSuccess()-->[js_Contenedor]");
    
  }

  function onFailure(){
    console.log("--onFailure()-->[js_Contenedor]");
  }

  function repetido(colecc, id){
    console.log("-- repetido(colecc, id)-->[js_Contenedor]");
    var fil_colecc = colecc.filter(x => x.id == id);
    if(fil_colecc.length>0){
      return true;
    }else{
      return false;
    }
  }

  function eliminar(colecc, id){
    console.log("-- eliminar(colecc, id)-->[js_Contenedor]");
    var fil_colecc = colecc.filter(x => x.id != id);
    return fil_colecc;
  }


</script>

<!--?!=include('temp_header.html') ?-->
    <header>
        <div class="row">
        <!-- Nexo descomentar
        <img src="https://docs.google.com/drawings/d/e/2PACX-1vT2tXb9NJ8n7mxhwEexCkblNDlZxLf60zLYgKGdKQTHqvxhuMn_roKTm2mpOPeRH0XxVisUx9IEcEAy/pub?w=929&amp;h=221">  -->
        <h1>Espacios Verdes</h1>
        </div>
    </header>

    <style>
        header {
        background : green;
        background : 'https://docs.google.com/drawings/de2PACX-1vT2tXb9NJ8n7mxhwEexCkblNDlZxLf60zLYgKGdKQTHqvxhuMn_roKTm2mpOPeRH0XxVisUx9IEcEAy/pub?w=929&h=221';
        color : white;
        text-align : center;
        }
    </style>
<!-- -->



    <div class="container">

<!-- Usuario y rol ------------------------->
<h3>
  Usuario&nbsp;{{user}}&nbsp;
  <strong>&nbsp;{{rol}}</strong>
</h3>

<!-- paso las variables usuario y rol 
<label id='user' hidden value=<?=usuariof.user?>><?=usuariof.user?> </label>
<label id='rol'  hidden value=<?=usuariof.rol?>><?=usuariof.rol?> </label>
<script>
var usuariof = {};
usuariof.user = document.getElementById('user').getAttribute("value");
usuariof.rol = document.getElementById('rol').getAttribute("value");
</script>-->


<div name="botonControl">
  <!-- Botón Control ------------------------ -->
  <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="collapse" id='btn_control'        name='btn_menu'  data-bs-target="#control">Control</button>
  <script>  document.getElementById('btn_control').addEventListener('click',function(){desplegar('control')});</script>
</div>

<div name="botonBorrar">
  <!--? if(usuariof.rol == "administrador"){ ?-->  
  {{#ifeq rol "administrador"}}      
  <!-- Botón Eliminar ------------------------->
  <button type="button" class="btn btn-danger btn-lg" data-bs-toggle="collapse" id='btn_eliminar' name='btn_menu' data-bs-target="#eliminar" onclick="eliminarx()"b>Eliminar</button>
  <script>  document.getElementById('btn_eliminar').addEventListener('click',function(){desplegar('eliminar')});</script>
  {{/ifeq}}
  <!--? } ?-->
</div>

<? if(usuariof.rol == "administrador" || usuariof.rol == "mecánico"){ ?>
<!-- Botón Técnica ----------------------->
<button type="button" class="btn btn-success btn-lg" data-bs-toggle="collapse" id='btn_tecnica'        name='btn_menu' data-bs-target="#tecnica" >Técnica</button>
<script>document.getElementById('btn_tecnica').addEventListener('click',function(){desplegar('tecnica')});</script>
<? } ?> 

<? if(usuariof.rol == "administrador"){ ?>
<!-- Botón + Intervención --------------------->
<button type="button" class="btn btn-warning btn-lg" data-bs-toggle="collapse" id="btn_+_intervencion" name='btn_menu' data-bs-target="#intervencion" >+ Intervención</button>
<script>  document.getElementById('btn_+_intervencion').addEventListener('click',function(){desplegar('intervencion')});</script>
<? } ?>  

<? if(usuariof.rol == "administrador" || usuariof.rol == "capataz" || usuariof.rol == "mecánico"){ ?> 
<!-- Botón Intervenciones --------------------->
<button type="button" class="btn btn-warning btn-lg" data-bs-toggle="collapse" id="btn_intervenciones" name='btn_menu' data-bs-target="#intervenciones" onclick="btn_listar()">Intervenciones</button>
<script> document.getElementById('btn_intervenciones').addEventListener('click',function(){desplegar('intervenciones')});</script>
<? } ?>

<!-- Botón Salir ----------------------------->
<!--a class="btn" type="Button" href=<?= ScriptApp.getService().getUrl(); ?>>Salir</a-->
<a class="btn btn-outline-danger" type="Button" href='https://sites.google.com/view/lasherasespaciosverdes/inicio'>Salir</a>

<!-- Sección Control  -------------------------->
<div id="control" class="collapse">


  <div name="maquinariaNueva">
    {{#ifeq rol "administrador"}}
        <p>Aquí va maquinariaNueva.html</p>
        <hr>
        <div class="form-group">
        <div class="row">
            <div class="col-sm-8">
                <label for="input_maquinariaNueva">Nueva Maquinaria</label>
                <input type="text" class="form-control" id="input_maquinariaNueva" />
            </div>
            <div class="col-sm-4">
                <br>
                <button onclick="maquinariaNueva()" class="form-control btn btn-success">Agregar</button>
            </div>
        </div>
        </div>

        <script>

        function maquinariaNueva(){
            console.log("--maquinariaNueva()-->[maquinariaNueva]");
            var maq = document.getElementById('input_maquinariaNueva').value;

            //google.script.run.withSuccessHandler(limpiarInput).agregarMaquinaria(maq);
            var objMaq = {nombre : maq};
            var strObjMaq = JSON.stringify(objMaq);

            fetch(usuariof.f_url+'/agregarMaquinaria' ,{
                method: 'POST',
                body: strObjMaq,
                headers:{'Content-Type': 'application/json'}
            })
            .then(x=>console.log(x));
        }

        function limpiarInput(){
            console.log("--limpiarInput()-->[maquinariaNueva]");    
            document.getElementById('input_maquinariaNueva').value = "";
            if(desplegado == true){
            replegarMaquinaria();
            maquinariaListar();
            }
        }
        </script>

    {{/ifeq}} 
  </div>

  <!-- Nexo cu 01 Listar maquinaria ---------------------------- -->  
  <div name="maquinariaListar">          
      <p>Aquí va maquinariaListar.html</p>
      <hr>
      <div class="row">
          <div class="col-sm-8">
              <button onclick="maquinariaListar()" class="form-control btn btn-success" >Listar Maquinaria</button>
          </div>
          <div id="maquinariaListar_out"></div>
      </div>

      <script>

      var data_sele_maquinaria = [];  // Maquinara seleccionada para ser elimnada
      var data_maquinaria = [];       // Colección Maquinaria
      var desplegado = false;

      function maquinariaListar(){
          console.log("--maquinariaListar() -->[maquinariaListar]");
          if(desplegado == false){
              document.getElementById('maquinariaListar_out').innerHTML = "<div class='spinner-border text-warning'></div>"
              //google.script.run.withSuccessHandler(listarMaquinaria).dameMaquinarias();
              fetch(usuariof.f_url+'/dameMaquinarias')
              .then(data=>data.json())
              .then(data=>listarMaquinaria(data));
              
          }else{
              //document.getElementById('maquinariasListar_out').innerHTML = "";
              
          }
      }

      function listarMaquinaria(data){
          console.log("-- listarMaquinaria(data)-->[maquinariaListar()]");
          console.log(data);
          data_maquinaria = data;
          if(!desplegado){
              var str = "";
              for(var i=0 ; i<data.length ; i++){
                  str = str + "<label><input type='checkbox' class='form-check-input' name='maquinaria' onclick='maquinaria("+i+")'>"+data[i].nombre+"</label><hr>";
              }
              document.getElementById('maquinariaListar_out').innerHTML = str;
              desplegado = true;
          }else{
              replegarMaquinaria();
              
          };
      }

      function replegarMaquinaria(){
          console.log("-- replegarMaquinaria()-->[maquinariaListar]");
          document.getElementById('maquinariaListar_out').innerHTML = "";
          data_sele_maquinaria = [];
          desplegado = false; 
      }

      function maquinaria(A){
          console.log("-- maquinaria(A)-->[maquinariaListar]")
          // A posición seleccionada del vector data_maquinaria
          // Si el id de la posición A no está repetido en el vector data_sele_maquinaria,
          // lo agrega, sinó lo borra
          if(!repetido(data_sele_maquinaria, data_maquinaria[A].id)){
          data_sele_maquinaria.push(data_maquinaria[A])      
          }else{
          data_sele_maquinaria = eliminar(data_sele_maquinaria,data_maquinaria[A].id);
          }
      }

      </script>
  </div>

    <!-- --------------------------------------------------------- -->
      <? if(usuariof.rol == "administrador"){ ?>
      <?!=include('usuarioNuevo.html') ?>
  <div name="usuarioListar">
    <hr>
  <div class="row">
    <div class="col-sm-8">
      <button onclick="usuarioListar()" class="form-control btn btn-success" >Listar Usuarios</button>
    </div>
    <div id="usuarioListar_out"></div>
  </div>
  <script>
    // cu_ul

    var vl_lu_desplegado = false;
    var data_sele_usuarios = [];

    function usuarioListar(){
      console.log("-- usuarioListar()-->[usuarioListar]");
      if(vl_lu_desplegado == false){
        document.getElementById('usuarioListar_out').innerHTML = "<div class='spinner-border text-warning'></div>"
        google.script.run.withSuccessHandler(listarUsuario).dameUsuarios();
      }else{
        listarUsuario();
      }
    }

    function listarUsuario(data){
      console.log("-- listarUsuario(data)-->[usuarioListar()]")
      data_usuarios = data;
      if(!vl_lu_desplegado){
        var str = "";
        for(var i=0 ; i<data.length ; i++){
          str = str + "<hr><label><input type='checkbox' class='form-check-input' name='usuario' onclick='usuario("+i+")'>&nbsp;"+data[i].user+"&nbsp;rol:&nbsp;"+data[i].rol+"</label>";
        }
        document.getElementById('usuarioListar_out').innerHTML = str;
        vl_lu_desplegado = true;
      }else{
        replegarUsuarios()
      };
    }

    function replegarUsuarios(){
      console.log("-- replegarUsuarios()-->[usuarioListar]");
      document.getElementById('usuarioListar_out').innerHTML = "";
      data_sele_usuarios = [];
      vl_lu_desplegado = false; 
    }

    function usuario(A){
      console.log("-- usuario(A)-->[usuarioListar]")
      // A posición seleccionada del vector data_usuarios
      // Si el id de la posición A no está repetido en el vector data_sele_usuarios,
      // lo agrega, sinó lo borra
      if(!repetido(data_sele_usuarios, data_usuarios[A].id)){
        data_sele_usuarios.push(data_usuarios[A])     
      
      }else{
        data_sele_usuarios = eliminar(data_sele_usuarios,data_usuarios[A].id);
      }
        console.log(data_sele_usuarios);    
    }

  </script>

  </div>    
      <? } ?> 
      <? if(usuariof.rol == "administrador"){ ?>
      <?!=include('tareaNueva.html') ?>        
      <? } ?>

  <div name="tareaListar">
    <hr>
    <div class="row">
      <div class="col-sm-8">
        <button onclick="tareaListar()" class="form-control btn btn-success" >Listar Tarea</button>
      </div>
      <div id="tareaListar_out"></div>
    </div>

    <script>

      var data_sele_tarea = [];
      var data_tarea = [];
      var desplegado_tarea = false;  

      function tareaListar(){
        console.log("-- tareaListar()-->[tareaListar()]");
        if(!desplegado_tarea){
          document.getElementById('tareaListar_out').innerHTML = "<div class='spinner-border text-warning'></div>"
          google.script.run.withSuccessHandler(listarTarea).dameTareas();
        }else{
          listarTarea();
        }
      }

      function listarTarea(data){
        console.log("-- listarTarea(data)-->[tareaListar()]");
        data_tarea = data;
        if(!desplegado_tarea){
          var str = "";
          for(var i=0 ; i<data.length ; i++){
            str = str + "<label><input type='checkbox' name='tarea' class='form-check-input' onclick='tarea("+i+")'>"+data[i].nombre+"</label><hr>";
          }
          document.getElementById('tareaListar_out').innerHTML = str;
          desplegado_tarea = true;
        }else{
          document.getElementById('tareaListar_out').innerHTML = "";
          desplegado_tarea = false;
        }

      }

      function replegarTarea(){
        console.log("-- replegarTarea()-->[tareaListar]")
        document.getElementById("tareaListar_out").innerHTML = "";
        data_sele_tarea = [];
        desplegado_tarea = false;
      }

      function tarea(A){
        console.log("-- tarea(A)-->[tareaListar()]");
        if(!repetido(data_sele_tarea, data_tarea[A].id)){
          data_sele_tarea.push(data_tarea[A])      
        }else{
          data_sele_tarea = eliminar(data_sele_tarea,data_tarea[A].id);
        }
      }

    </script>
  </div>
           

      <?!=include('js_Contenedor.html') ?>
</div>

<!-- Sección Eliminar -------------------------->
<div id="eliminar" class="collapse">
  <p>Contenido de eliminar</p>
  
  <script>

    var para_eliminar = [];
    /**
    * Elimina lo que esté almacenado en los vectore data_sele_xxx
    */

    function eliminarx(){
      console.log("-- eliminarx()-->[controlEliminar]")

      if(data_sele_maquinaria.length>0){
        for(var i=0 ; i<data_sele_maquinaria.length ; i++){
          para_eliminar.push(data_sele_maquinaria[i])
        }
      }
      /* 
      if(data_sele_capataz.length>0){
        for(var i=0 ;i<data_sele_capataz.length ;i++){
          para_eliminar.push(data_sele_capataz[i]);
        }
      }
      */
      if(data_sele_tarea.length>0){
        for(var i=0 ;i<data_sele_tarea.length ; i++){
          para_eliminar.push(data_sele_tarea[i]);
        }
      }

      if(data_sele_intervencion.length>0){
        for(var i=0 ; i<data_sele_intervencion.length ; i++){
          para_eliminar.push(data_sele_intervencion[i]);
        }
      }
      console.log(data_sele_usuarios);

      if(data_sele_usuarios.length>0){
        for(var i=0 ; i<data_sele_usuarios.length ; i++){
          para_eliminar.push(data_sele_usuarios[i]);
        }
      }

      console.log(para_eliminar);

      //google.script.run.withSuccessHandler(retornoBorrar).eliminar(para_eliminar);

      fetch(usuariof.f_url+'/eliminar' ,{
          method: 'POST',
          body: JSON.stringify(para_eliminar),
          headers:{'Content-Type': 'application/json'}
      })
      .then(x=>console.log(x));

    }

    function retornoBorrar(){
      console.log("-- retornoBorrar()-->[controlEliminar]")

      if(desplegado == true){
        replegarMaquinaria();
      }
      /* 
      if(desplegado_capataz == true){
        replegarCapataz();
      }
      */
      if(desplegado_tarea){
        replegarTarea();
      }
  /* */
      if(vl_lu_desplegado){
        replegarUsuarios();
      }

      para_eliminar= [];     
    }


  </script>
    
  <? } ?>          
</div>

  <!-- Sección Técnica ---------------------------->
  <div name="tecnica">
    <div id="tecnica" class="collapse"> 
      <p>Contenido de tecnica</p>
      <hr>
      <div class="row">
        <div class="col-sm-4">
          <button class="btn btn-success btn-lg" onclick="enServicio()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;En servicio&nbsp;&nbsp;&nbsp;&nbsp;   </button>
        </div>
        <div class="col-sm-4">
          <button class="btn btn-warning btn-lg" onclick="cambiarEst()">&nbsp;Cambiar Estado&nbsp;</button>
        </div>    
        <div class="col-sm-4">
          <button class="btn btn-danger  btn-lg" onclick="fueraDeServicio()">Fuera de servicio</button>
        </div>
      </div>
      
      <div id="tituloServicio"></div>
      <div id="listaServicio"></div>

      <script>
        var vl_tec_data;

        function fl_tec_Limpiar(){
          document.getElementById('tituloServicio').innerHTML = "";
          document.getElementById('listaServicio').innerHTML = "";
        }
        function enServicio(){
          fl_tec_Limpiar();
          console.log("--enServicio()-->[tecnica]");
          document.getElementById('tituloServicio').innerHTML = "";
          document.getElementById('listaServicio').innerHTML = "<div class='spinner-border text-warning'></div>"
          google.script.run.withSuccessHandler(r01_lisMaqSer).dameMaquinarias();
        }
        function fueraDeServicio(){
          fl_tec_Limpiar();
          console.log("--fueraDeServicio()-->[tecnica]");
          document.getElementById('tituloServicio').innerHTML = "";
          document.getElementById('listaServicio').innerHTML = "<div class='spinner-border text-warning'></div>"
          google.script.run.withSuccessHandler(r01_lisMaqFueSer).dameMaquinarias();
        }

        function r01_lisMaqSer(data){
          console.log("--r01_lisMaqSer(data)-->[tecnica]");
          vl_tec_data=data;
          console.log(data);
          data = data.filter(x=>x.disponible == true);
          console.log(data);
          document.getElementById('tituloServicio').innerHTML = "<h4>Maquinaria en Servicio</h4>";
          document.getElementById('listaServicio').innerHTML = dameCheckList(data,"paraCambiar");
        }

        function r01_lisMaqFueSer(data){
          console.log("--r01_lisMaqFueSer(data)-->[tecnica]");
          console.log(data);
          data = data.filter(x=>x.disponible == false);
          vl_tec_data=data;      
          console.log(data);
          document.getElementById('tituloServicio').innerHTML = "<h4>Maquinaria Fuera de Servicio</h4>";      
          document.getElementById('listaServicio').innerHTML = dameCheckList(vl_tec_data,"paraCambiar");
        }
        
        function cambiarEst(){
          console.log("--cambiarEst()-->[tecnica]");
          // Pedimos los items tildado
          var vl_tec_cambiar = dameSelCkecklist(vl_tec_data,"paraCambiar");
          console.log(vl_tec_cambiar);
          for(var i=0 ; i<vl_tec_cambiar.length ; i++){
            if(vl_tec_cambiar[i].disponible == false){
              vl_tec_cambiar[i].disponible = true;
            }else{
              vl_tec_cambiar[i].disponible = false;
            }
          }
          fl_tec_Limpiar();
          
          google.script.run.withSuccessHandler(onSuccess).modificarObjetos("maquinaria",vl_tec_cambiar);

        }


      </script>
    </div>       
  </div>
<!-- Sección Intervención ----------------------->
  <div name="intervencion">
    <div id="intervencion" class="collapse">
      <br><br>
      
      <div class="form-group">
        <div class="row">
          <div class="col-sm-8">
            <input type="datetime-local" class="form-control" id="fechaInter" name="fechaInter" >
          </div>
          <div class="col-sm-4"> 
            <button type="button" class="btn btn-warning form-control" onclick="definirFecha()">Definir Fecha</button>
      
          </div>
        </div>
      </div> 

      <br>
      <div id='salidaMaquinaria'></div >
      <div id='salidaCapataz'></div >
      <div id='salidaTarea'></div >
      <hr>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-8">
            <input type="text" class="form-control" id="nombrInter" name="nombrInter" >
          </div>
          <div class="col-sm-4"> 
            <button type="button" class="btn btn-warning form-control" onclick="definirIntervencion()" id="definirIntervencion">Definir</button>
          </div>
        </div>
      </div>

      <script>

      var maqui_disp = [];  // Maquinarias disponibles
      var str_maqui = "";   // String para salida por div html
      
      function definirFecha(){
        console.log("--definirFecha() -->[intervencion]");
        str_maqui = "";
        document.getElementById('salidaMaquinaria').innerHTML = "<div class='spinner-border text-warning'></div>";
        var fechaInter = document.getElementById('fechaInter').value;

        //google.script.run.withSuccessHandler(tengoMaquinarias).dameMaquinarias();
        dameTodo();
      }

      function dameTodo(){
        google.script.run.withSuccessHandler(repartir).dameTodo();
      }

        var maqui = [];
        var usua = [];
        var tare = [];
        var inter = [];
        var capa = [];
      function repartir(repData){
        console.log(repData);
        maqui = repData[0];
        usua = repData[1];
        tare = repData[2];
        inter = repData[3];
        capa = usua.filter(x => x.rol == 'capataz');
        tengoTodo();
      }
      function tengoTodo(){
        console.log("-- tengoTodo(data)-->[intervencion]");

        var fecha_futura_date = new Date(document.getElementById('fechaInter').value);
      
        var x_maqui = []; 
        for(var k=0 ; k<inter.length ; k++){
          if(mismoDia(fecha_futura_date,new Date(inter[k].fecha) )){
            for(var j=0 ; j<inter[k].colMaq.length ; j++){
              for(var i=0 ; i<maqui.length ; i++){
                if(inter[k].colMaq[j].id == maqui[i].id){
                  x_maqui[i]="x";
                }
              } 
            }
          }
        }
        console.table(x_maqui)

        maqui_disp = [];
        for(var i = 0 ; i<maqui.length ; i++){ 
          if(x_maqui[i] != "x"){
            maqui_disp.push(maqui[i]);
          }    
        }

        console.log("maqui_disp");
        console.table(maqui_disp);
      
        //---------- salidaCapataz -------------------
      
        // extraigo los capataces ocupados ese día
        var capa_ocupados = [];
        for(var i=0 ; i<inter.length ; i++){
          if(mismoDia(fecha_futura_date, new Date(inter[i].fecha))){
            capa_ocupados.push(inter[i].capataz);
          }
        }

        console.log("Capataces ocupados para este día");
        console.table(capa_ocupados);

        // Elimino los capataces ocupados ese día
        for(var i=0 ; i<capa_ocupados.length ; i++){
          for(var j=0 ; j<capa.length ; j++){
            if(capa_ocupados[i].id == capa[j].id){
              capa.splice(j,1);
            }
          }
        }

        console.log("capataces restantes");
        console.table(capa);

        if(capa.length>0){
          document.getElementById('definirIntervencion').removeAttribute("disabled","false");    
          var salCap = ""
          for(var i=0 ; i<capa.length ; i++){
            salCap = salCap + "<hr><p><input type='radio' class='form-check-input' name='capSel' id='capSel' value='"+i+"'>"+capa[i].user+"</p>"
          }
          document.getElementById('salidaCapataz').innerHTML = salCap;
        }else{
          document.getElementById('salidaCapataz').innerHTML = "<p>No hay capataces disponible</p>";
          document.getElementById('definirIntervencion').setAttribute("disabled","true");
        }

        //document.getElementById('salidaMaquinaria').innerHTML = dameCheckList(maqui_disp,"maqSel");
        document.getElementById('salidaMaquinaria').innerHTML = dameCheckListMarcada(maqui_disp,"maqSel",maqui_disp);
        document.getElementById('salidaTarea').innerHTML = dameCheckList(tare,"tarSel");


      }


      var capa_x = [];
          
      //--------------------------------------------------
      function definirIntervencion(){
        console.log("-- definirIntervencion()-->[intervencion]");
      
        try{
          if(document.getElementById('nombrInter').value != ""){
            var unaIntervencion = {};
            unaIntervencion.nombre = document.getElementById('nombrInter').value;
            //unaIntervencion.colMaq = array_maquinaria;
            unaIntervencion.colMaq = dameSelCkecklist(maqui_disp,'maqSel');
            unaIntervencion.fecha = document.getElementById('fechaInter').value;
            unaIntervencion.capataz = valorRadio(capa,'capSel');
            unaIntervencion.colTar = dameSelCkecklist(tare, 'tarSel');
            document.getElementById('salidaMaquinaria').innerHTML = "";
            document.getElementById('salidaCapataz').innerHTML = "";
            document.getElementById('salidaTarea').innerHTML = "";
            document.getElementById('nombrInter').value = "";
            google.script.run.withSuccessHandler(onSuccess).agregarIntervencion(unaIntervencion);
          }else{
            alert("Coloque nombre a la intervención");
          }

        }catch(err){
          alert("Hubo un error!");
          console.log(err);
        }
      }
      </script>
    </div>
  </div>
<!-- Sección Intervenciones ----------------------->

  <div id="intervenciones" class='collapse'>
    <? if(usuariof.rol == "administrador" || usuariof.rol == "capataz" || usuariof.rol == "mecánico"){ ?>
    <div name="intervenciones">
      <div class="form-group">
      <div class="row">
      <div class="col-sm-12">

      </div>
      </div>
      </div>
      <p>Listado de Intervenciones</p>
      <div id="print">
      <div class="spinner-border text-warning"></div>
      </div>




      <script>

      var data_sele_intervencion = [];
      var data_intervencion = [];
      var desplegado_intervencion = false;

      function btn_listar(){

      google.script.run.withSuccessHandler(listarInterv).dameTodo();

      }

      function listarInterv(data_li){
      var interv = data_li[3]
      var vl_iL_maqui = data_li[0]
      console.log("--listarInterv(interv)-->[intervencionListar.htm.]");
      console.log(data_li);

      //ordeno la colección según la fecha
      interv.sort(function(a,b){
      if(a.fecha<b.fecha){
      return -1;
      }else if(a.fecha>b.fecha){
      return 1;
      }else{
      return 0;
      }
      });

      console.log(usuariof);
      console.log(interv);

      if(usuariof.rol == 'administrador' || usuariof.rol == 'mecánico'){
      data_intervencion = interv;
      }else{
      //console.log(x.capataz+" "+usuariof.rol);
      data_intervencion = interv.filter(x=>x.capataz.user == usuariof.user);
      }

      document.getElementById("print").innerHTML = "";

      var pt2 = "";
      for(var i=0 ; i<data_intervencion.length ; i++){
      pt2 += "<p>"+"<input type='checkbox' class='form-check-input' onclick='intervencion("+i+")'>&nbsp;"+dameDia(data_intervencion[i].fecha)+" - "+data_intervencion[i].nombre+" - "+data_intervencion[i].capataz.user+"</p>";
      pt2 += dameListaMarcada(data_intervencion[i].colMaq, vl_iL_maqui);
      pt2 += "<hr>";
      pt2 += dameCheckList(data_intervencion[i].colTar, 'tarea');
      pt2 += "<hr>";
      }

      //document.getElementById("print").innerHTML = print_total ;
      document.getElementById("print").innerHTML = pt2;
      /**/ 
      }

      function intervencion(A){
      console.log("--intervencion(A)-->[intervencionListar()]");
      if(!repetido(data_sele_intervencion,data_intervencion[A].id)){
      data_sele_intervencion.push(data_intervencion[A]);
      }else{
      data_sele_intervencion = eliminar(data_sele_intervencion,data_intervencion[A].id);
      }
      }

      function replegarIntervencion(){
      console.log("--replegarIntervencion()-->[intervencionListar]");
      document.getElementById('print').innerHTML = "";
      data_sele_intervencion = [];
      desplegado_intervencion = false;
      }

      </script>
    </div>       
    <? } ?>
</div>
</div>

    <!-- ?!=include('style.html')?-->
<style>
  body {
    background : #aaffaa;
  }
</style>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
  </script>
    <!-- -->
    <?!=include('temp_footer.html') ?>    
    <?!=include('js_consumidor.html') ?>
  </body>
</html>
